<div class="row-owner">
<h1 class= "ps-2 mt-2 flex-grow-1">My accessories</h1>
<%= link_to "Add an accessory", new_owner_accessory_path, class: "product-page-card-category" %>
</div>

<div class="container ps-2 mb-5">
  <% Accessory::CATEGORIES.each do |category| %>
    <% items = Accessory.where(category: category, owner: current_user) %>
    <% unless items.empty? %>
      <h2 class="h2-category"><%= category %></h2>
      <% items.each do |item|  %>
        <div class="col-owner">
            <div class="cards-owner">
              <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill%>
              <div class="cards-owner-infos">
                <h3 class="cards-owner-infos-name"><%= "#{item.name}" %></h3>
                <p class="cards-owner-infos-pricing"><strong><%= "#{item.price_per_day} $" %></strong></p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
