<div class="cards my-rentals-card" >
  <% @rentals.each do |rental| %>
    <div class="border border-secondary-subtle border-1 rounded-3 p-1">
      <div class="card-category my-rentals-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
       rgba(0,0,0,0.3)), url(<%= cl_image_path(rental.accessory.photo.key) %>) ">
      </div>
      <div>
        <h2><%= "#{rental.accessory.name}" %></h2>
          <div class="d-flex justify-content-between">
            <p><strong><%= "From" %></strong><%="  #{rental.start_date.strftime("%d/%m/%Y")}  " %><strong><%= "to" %></strong><%="  #{rental.end_date.strftime("%d/%m/%Y")}  " %></p>
            <p><strong><%= "#{rental.final_price} $" %></strong></p>
            <p>
            <% if rental.status == "Accepted" %>
              <i class="fa-regular fa-circle-check"></i>
            <% elsif rental.status == "Rejected" %>
              <i class="fa-regular fa-circle-xmark"></i>
            <% elsif rental.status == "Pending" %>
              <i class="fa-solid fa-arrows-rotate"></i>
            <% end %>
            </p>
          </div>
      </div>
    </div>
  <% end %>
</div>
