
<!-- app/views/accessories/index.html.erb -->

<!-- TODO: Insert inside the `.container`, above the first `.row` -->

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
      <%= form_with url: accessories_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>

      <% end %>
  </div>
</div>
<!-- [...] -->


<ul>
    <%= link_to "Animals", accessories_path(category: "Animals"), class: "btn btn-ghost" %>
    <%= link_to "Brooms", accessories_path(category: "Brooms"), class: "btn btn-ghost" %>
    <%= link_to "Wands", accessories_path(category: "Wands"), class: "btn btn-ghost" %>
    <%= link_to "Others", accessories_path(category: "Others"), class: "btn btn-ghost" %>
</ul>



<div class="cards-accessory">
    <% @accessories.each do |accessory| %>
      <%= link_to accessory_path(accessory) do %>
          <%= cl_image_tag accessory.photo.key, height: 300, width: 400, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= accessory.name %></h2>
                <h6><%= accessory.price_per_day %> $</h6>
            </div>
      <% end %>
    <% end %>
</div>
