<div>
  <h1><%= @accessory.name %></h1>
  <p><%= @accessory.owner.username %> - <%= @accessory.owner.city %></p>
  <%= cl_image_tag @accessory.photo.key, height: 350, crop: :fit %>
</div>
<div>
  <h2><%= @accessory.price_per_day %>€ / day</h2>
  <h3>Dates</h3>
  <%= simple_form_for [@accessory, @rental] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Rent", class: "btn btn-primary" %>
  <% end %>
</div>
<div>
  <h3>Details</h3>
  <p><%= @accessory.detail %></p>
</div>
